{% extends 'base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4"><a href="{% url 'ticket_list' pk=project.id %}" class="btn btn-primary"><i class="fa-regular fa-circle-left"></i></a> Categories for Project: {{ project.name }}</h2>
    <a href="{% url 'category_create' project.id %}" class="btn btn-success mb-3">Create New Category</a>
    <div class="card">
        <div class="card-header bg-dark text-light">
            <h3 class="mb-0">Category List</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{% url 'category_delete' project.id category.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No categories available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
