{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">Confirm Delete</h2>
    <div class="card">
        <div class="card-body">
            <p>Are you sure you want to delete the category "{{ categories.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
