{% extends 'base.html' %}

{% block title %}Project List{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mb-4">Project List</h1>
        
        <div class="mb-4">
            <a href="{% url 'create_project' %}" class="btn btn-primary">Create a New Project</a>
        </div>

        <div class="card">
            <div class="card-header bg-dark text-light">
                <h2 class="text-light">Projects</h2>
            </div>
            <ul class="list-group list-group-flush">
                {% for project in projects %}
                    <li class="list-group-item"><a href="{% url 'ticket_list' project.id %}">{{ project.name }}</a></li>
                    

                {% empty %}
                    <li class="list-group-item">No projects available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
