{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="my-4">My Projects</h2>
    <div class="mb-4">
        <a href="{% url 'join_project' %}" class="btn btn-primary">Join a New Project</a>
    </div>
    <div class="card">
        <div class="card-header bg-dark text-light">
            <h3 class="mb-0">Project List</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>未処理</th>
                        <th>社内処理</th>
                        <th>社外処理</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <tr>
                        <td><a href="{% url 'ticket_list' project.project.id %}">{{ project.project.name }}</a></td>
                        <td>{{ project.active_count }}</td>
                        <td>{{ project.inwork_count }}</td>
                        <td>{{ project.outwork_count }}</td>
                        <td>
                            <a href="{% url 'leave_project' project_id=project.project.id %}" class="btn btn-danger btn-sm">×</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No projects available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
